body {
    background-color: lightgoldenrodyellow;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
padding-top: 30px;
}

main {
    padding-right: 40px;
}


.weather-app {
    background: lightblue;
    max-width: 600px;
    margin: 45px auto;
    padding: 40px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 10px
    ;
}


.search-form-input {
    background: lightpink;
    border: none;
    border-radius: 6px;
    padding: 15px;
    font-size: large;
    font-family:cursive;
}

.search-form-button {
    background: whitesmoke;
    border: none;
    border-radius: 6px;
    padding: 15px;
    font-size: medium;
    font-family: cursive;
}

.weather-app-data {
    display: flex;
    justify-content: space-between;

}

.weather-app-city {
    margin-top: 40px;
    font-size: 50px;
    line-height: 20px;
}

.weather-app-details {
    font-size: 20px;
    line-height: 30px;
}

.weather-app-details strong {
    color: rgb(224, 62, 197);
}

.weather-app-temperature-container {
    display: flex;
}

.weather-app-temperature {
    font-size: 70px;
}

.weather-app-icon {
    width: 40px;      
    height: auto;
    display: inline-block;
}

.weather-app-unit {
    font-size: 40px;
}

.weather-forecast {
    display: flex;
}

.weather-forecast-date {
    text-align:center;
    color: rgba(39, 33, 66, 0.4);
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
}

.weather-forecast-icon {
    font-size: 38px;
    text-align: center;
}

.weather-forecast-temperatures {
   text-align: center;
   color: rgb(224, 62, 197);
   display: flex;
   justify-content: center;
   margin-top: 10px;
}

.weather-forecast-temperature {
    padding: 0 3px;
}

footer {
    padding-top: 30px;
    padding-bottom: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

